a,
a:hover,
a:focus {
  text-decoration: none;
  color: #FFF; }

a:focus {
  outline: none; }

a[href^='mailto:']:hover {
  text-decoration: underline; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: 'Droid Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/DroidSans-Bold.eot");
  src: url("../fonts/DroidSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold.woff") format("woff"), url("../fonts/DroidSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Patua One';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PatuaOne-Regular.eot");
  src: url("../fonts/PatuaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PatuaOne-Regular.woff") format("woff"), url("../fonts/PatuaOne-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Droid Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DroidSans.eot");
  src: url("../fonts/DroidSans.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans.woff") format("woff"), url("../fonts/DroidSans.ttf") format("truetype"); }
body {
  font-family: 'Droid Sans';
  font-size: 16px;
  min-width: 320px; }

header {
  overflow: hidden;
  height: 660px; }
  header .navigation-wr {
    position: relative; }
    header .navigation-wr:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 80px;
      content: '';
      background: #70564a; }
    header .navigation-wr .container {
      position: relative; }
  header .logo-wr {
    position: absolute;
    text-align: center; }
    header .logo-wr img {
      display: inline-block; }
  header .logo {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    display: block;
    color: #70564a; }
    header .logo:before {
      position: absolute;
      right: 0;
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 4px;
      content: '';
      background: url(../images/line.png) no-repeat center; }
  header .navigation {
    font-size: 0; }
    header .navigation li {
      line-height: 1;
      display: inline-block;
      width: 25%;
      padding: 35px 0 25px;
      text-align: center; }
    header .navigation a {
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      transition: all ease-in-out .3s; }
      header .navigation a.active, header .navigation a:hover {
        color: #f9ea4f; }
  header .login {
    font-size: 0;
    text-align: right; }
    header .login li {
      line-height: 1;
      display: inline-block;
      padding: 35px 0 25px; }
      header .login li:first-child {
        margin-right: 25px; }
    header .login a {
      font-size: 20px;
      transition: all ease-in-out .3s; }
      header .login a:hover {
        color: #f9ea4f; }
  header .form {
    height: 105px;
    padding: 35px 0; }
    header .form select {
      font-family: 'Raleway';
      height: 35px;
      border-radius: 0;
      background: url("../images/down-arrow.png") no-repeat right #d3cbc7;
      background-position-x: 97%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      text-indent: 1px;
      text-overflow: ''; }
      header .form select::-ms-expand {
        display: none; }
    header .form .search {
      font-size: 35px;
      font-weight: bold;
      line-height: 27px;
      width: 100%;
      height: 45px;
      margin-top: -5px;
      color: #70564a;
      border: 3px solid transparent;
      border-radius: 0;
      background: #f9ea4f;
      box-shadow: 2px 2px 10px -2px #333;
      transition: all ease-in-out .3s; }
      header .form .search:hover {
        color: #f9ea4f;
        border-color: #f9ea4f;
        background: #70564a; }
  header .title-wr {
    position: relative;
    height: 475px;
    padding: 45px 0 30px; }
    header .title-wr:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-image: url(../images/top-bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  header .header-title {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 300px;
    color: #fff; }
  header .header-subtitle {
    font-size: 37px;
    color: #fff; }

main .main-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background: #57423a; }
main .buy-item {
  position: relative;
  height: 275px;
  margin-top: 15px;
  padding: 30px 15px 10px;
  background: #70564a; }
  main .buy-item:after {
    position: absolute;
    top: 85px;
    right: -85px;
    bottom: 0;
    width: 75px;
    height: 135px;
    content: '';
    background: url(../images/right-arrow.png);
    background-repeat: no-repeat; }
  main .buy-item .img-wrapper {
    position: relative;
    height: 90px;
    text-align: right; }
    main .buy-item .img-wrapper:before {
      font-family: 'Patua One';
      font-size: 128px;
      line-height: 1;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -20px;
      content: '1';
      color: #917d74; }
    main .buy-item .img-wrapper img {
      display: inline-block; }
  main .buy-item:nth-child(2) .img-wrapper:before {
    content: '2'; }
  main .buy-item:nth-child(3) .img-wrapper:before {
    content: '3'; }
  main .buy-item:last-child .img-wrapper:before {
    content: '4'; }
  main .buy-item:last-child:after {
    content: none; }
main .buy-subtitle {
  font-size: 30px;
  margin: 25px 0 10px;
  color: #fff; }
main .buy-text {
  font-size: 13px;
  margin: 0;
  color: #fff; }
main .closing-wr {
  margin: 65px 0 45px;
  text-align: center; }
  main .closing-wr a {
    font-size: 21px;
    font-weight: bold;
    color: #70564a;
    transition: all ease-in-out .3s; }
    main .closing-wr a.active, main .closing-wr a:hover {
      color: #000; }
  main .closing-wr .more-wr {
    font-size: 0; }
    main .closing-wr .more-wr a {
      display: inline-block;
      margin-top: 5px; }
      main .closing-wr .more-wr a:nth-child(2) img {
        margin-top: 2px; }
  main .closing-wr .more {
    font-size: 15px;
    text-decoration: underline; }
main .slider-wr .owl-nav {
  position: absolute;
  top: -72px;
  right: 130px; }
  main .slider-wr .owl-nav .owl-prev {
    display: inline-block;
    margin-right: 10px; }
  main .slider-wr .owl-nav .owl-next {
    display: inline-block; }
    main .slider-wr .owl-nav .owl-next img {
      margin-top: 2px; }
main .slider-item {
  position: relative;
  height: 355px;
  padding: 0 15px; }
  main .slider-item .figure {
    position: relative;
    height: 205px;
    background: #eee; }
    main .slider-item .figure img {
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto; }
  main .slider-item .info-wr {
    position: relative;
    width: 270px;
    margin: -35px auto 0;
    padding: 10px 10px 35px;
    background: rgba(230, 230, 230, 0.9); }
  main .slider-item .name {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    display: block;
    margin: 0 0 15px;
    text-align: center;
    color: #70564a;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis; }
  main .slider-item .run {
    font-size: 14px;
    display: inline-block;
    margin-right: 55px;
    color: #70564a; }
  main .slider-item .time {
    font-size: 14px;
    display: inline-block;
    color: #70564a; }
  main .slider-item .price {
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
    display: block;
    padding: 15px 0 10px;
    text-align: center;
    color: #d4a83b; }
  main .slider-item .bid-now {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    width: 115px;
    height: 45px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #f9ea4f;
    border: 3px solid transparent;
    border-radius: 0;
    background: #70564a;
    box-shadow: 0 0 15px 0 #000;
    transition: all ease-in-out .3s; }
    main .slider-item .bid-now:hover {
      color: #70564a;
      border-color: #70564a;
      background: #f9ea4f;
      box-shadow: none; }
main .cl-banner {
  margin: 80px 0 35px;
  display: block; }
  main .cl-banner img {
    margin: 0 auto; }
main .reviews-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-left: 15px;
  color: #70564a; }
main .review {
  margin-bottom: 20px;
  padding: 15px;
  color: #fff;
  background: #70564a; }
  main .review:before {
    display: table;
    content: ''; }
  main .review:after {
    display: table;
    clear: both;
    content: ''; }
  main .review:last-child {
    margin-bottom: 0; }
main .reviews-subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px; }
main .reviews-text {
  font-size: 15px; }
main .stars {
  font-size: 20px;
  float: left;
  color: #f9ea4f; }
main .date {
  font-size: 17px;
  float: right; }
main .meta-content {
  font-size: 15px;
  padding: 30px 0;
  text-align: center;
  color: #70564a; }

footer {
  padding: 25px 0 0;
  background: #70564a; }
  footer .footer-title {
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    color: #f9ea4f; }
  footer .about-text {
    font-size: 13px;
    margin: 18px 0 0;
    color: #fff; }
  footer .form-wr {
    margin: 20px 0 0; }
    footer .form-wr input {
      height: 30px;
      text-align: center;
      border: none;
      border-radius: 0; }
      footer .form-wr input::-webkit-input-placeholder {
        color: #000; }
      footer .form-wr input::-moz-placeholder {
        color: #000; }
      footer .form-wr input::-ms-input-placeholder {
        color: #000; }
    footer .form-wr .subscribe {
      font-size: 18px;
      font-weight: bold;
      line-height: 14px;
      height: 30px;
      color: #70564a;
      border: 3px solid transparent;
      border-radius: 0;
      background: #f9ea4f;
      transition: all ease-in-out .3s; }
      footer .form-wr .subscribe:hover {
        color: #f9ea4f;
        border-color: #f9ea4f;
        background: #70564a; }
  footer .repokar-wr {
    font-size: 12px;
    margin-top: 55px;
    text-align: center;
    color: #fff; }
    footer .repokar-wr .repokar {
      display: inline-block; }
    footer .repokar-wr img {
      margin: 0 auto; }
  footer .footer-info {
    font-size: 0;
    text-align: right; }
    footer .footer-info .footer-title {
      font-size: 17px; }
  footer .footer-nav {
    display: inline-block;
    width: 50%; }
    footer .footer-nav ul {
      margin-top: 20px; }
    footer .footer-nav a {
      font-size: 17px;
      font-weight: bold;
      color: #fff;
      transition: all ease-in-out .3s; }
      footer .footer-nav a.active, footer .footer-nav a:hover {
        color: #f9ea4f; }
    footer .footer-nav li {
      line-height: 1;
      margin-bottom: 20px; }
      footer .footer-nav li:last-child {
        margin-bottom: 0; }
  footer .footer-contacts {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
    footer .footer-contacts ul {
      margin-top: 20px; }
    footer .footer-contacts li {
      font-size: 13px;
      margin-bottom: 10px;
      color: #fff; }
      footer .footer-contacts li:last-child {
        margin-bottom: 0; }
  footer .social {
    margin-top: 45px; }
    footer .social li {
      display: inline-block;
      width: 16.6%; }
    footer .social a {
      font-size: 25px;
      transition: all ease-in-out .3s; }
      footer .social a:hover {
        color: #f9ea4f; }
  footer .copy {
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #795548; }

.auction-header .title-wr:before {
  background-image: url(../images/top-bg-auction.jpg); }

.auction-main .slider-item {
  margin-bottom: 80px; }
.auction-main .cl-banner {
  margin: 40px 0 35px; }

.pagination-wr {
  text-align: center; }
  .pagination-wr .pagin {
    display: inline-block;
    font-size: 0; }
    .pagination-wr .pagin li {
      margin: 0 3px;
      display: inline-block; }
      .pagination-wr .pagin li:first-child {
        margin-right: 25px; }
        .pagination-wr .pagin li:first-child a {
          display: inline-block; }
          .pagination-wr .pagin li:first-child a:before {
            content: "";
            background-image: url(../images/arrow2.png);
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            width: 12px;
            bottom: 0;
            height: 19px;
            transition: all ease-in-out .3s; }
          .pagination-wr .pagin li:first-child a:hover:before {
            background-image: url("../images/arrow2-hov.png"); }
      .pagination-wr .pagin li:last-child {
        margin-left: 25px; }
        .pagination-wr .pagin li:last-child a {
          display: inline-block; }
          .pagination-wr .pagin li:last-child a:after {
            content: "";
            background-image: url(../images/arrow.png);
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            width: 12px;
            bottom: 0;
            height: 19px;
            transition: all ease-in-out .3s; }
          .pagination-wr .pagin li:last-child a:hover:after {
            background-image: url("../images/arrow-hov.png"); }
    .pagination-wr .pagin a {
      font-size: 30px;
      text-shadow: #70564a 1px 1px 0, #70564a -1px -1px 0, #70564a -1px 1px 0, #70564a 1px -1px 0;
      transition: all ease-in-out .3s; }
      .pagination-wr .pagin a.active, .pagination-wr .pagin a:hover {
        color: #70564a; }

.contact-header .title-wr:before {
  background-image: url(../images/top-bg-contact.jpg); }
.contact-header .header-title {
  padding-bottom: 25px; }

.contact-main .main-title {
  margin-bottom: 20px; }

.chat-wr,
.faq-wr {
  margin-bottom: 15px; }

.chat-title {
  font-size: 15px;
  color: #70564a;
  padding: 17px 0; }

.chat-btn {
  font-size: 30px;
  font-weight: bold;
  line-height: 27px;
  width: 100%;
  height: 45px;
  color: #70564a;
  border: 3px solid transparent;
  border-radius: 0;
  background: #f9ea4f;
  box-shadow: 2px 2px 10px -2px #333;
  transition: all ease-in-out .3s; }
  .chat-btn:hover {
    color: #f9ea4f;
    border-color: #f9ea4f;
    background: #70564a; }

.top-social {
  margin-top: 45px;
  font-size: 0; }
  .top-social li {
    display: inline-block;
    width: 16.6%; }
  .top-social a {
    font-size: 18px;
    transition: all ease-in-out .3s;
    color: #70564a; }
    .top-social a:hover {
      color: #f9ea4f; }

.faq-title {
  font-size: 16px;
  color: #70564a;
  font-weight: bold;
  text-align: center;
  padding: 5px 0; }

.faq-btn {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 27px;
  width: 100%;
  height: 45px;
  color: #70564a;
  border: 3px solid transparent;
  border-radius: 0;
  background: #f9ea4f;
  box-shadow: 2px 2px 10px -2px #333;
  transition: all ease-in-out .3s; }
  .faq-btn:hover {
    color: #f9ea4f;
    border-color: #f9ea4f;
    background: #70564a; }

.message-wr {
  padding: 0 0 30px; }
  .message-wr input,
  .message-wr textarea {
    font-size: 15px;
    font-weight: bold;
    border-radius: 0; }
    .message-wr input::-webkit-input-placeholder,
    .message-wr textarea::-webkit-input-placeholder {
      color: #70564a; }
    .message-wr input::-moz-placeholder,
    .message-wr textarea::-moz-placeholder {
      color: #70564a; }
    .message-wr input::-ms-input-placeholder,
    .message-wr textarea::-ms-input-placeholder {
      color: #70564a; }
  .message-wr textarea {
    resize: none;
    height: 160px;
    padding-top: 20px; }
  .message-wr .captcha-wr {
    font-size: 0;
    text-align: center; }
    .message-wr .captcha-wr input {
      font-size: 15px;
      display: inline-block;
      width: 40%;
      vertical-align: top;
      height: 38px; }
    .message-wr .captcha-wr .captcha {
      display: inline-block;
      width: 40%;
      vertical-align: middle;
      height: 38px;
      text-align: right; }
      .message-wr .captcha-wr .captcha img {
        height: 100%;
        display: inline-block; }
    .message-wr .captcha-wr .refresh {
      color: #70564a;
      font-size: 20px;
      display: inline-block;
      width: 10%;
      margin: 0 5%;
      vertical-align: middle; }
  .message-wr .send-btn {
    font-size: 35px;
    font-weight: bold;
    line-height: 27px;
    width: 100%;
    height: 45px;
    color: #70564a;
    border: 3px solid transparent;
    border-radius: 0;
    background: #f9ea4f;
    box-shadow: 2px 2px 10px -2px #333;
    transition: all ease-in-out .3s; }
    .message-wr .send-btn:hover {
      color: #f9ea4f;
      border-color: #f9ea4f;
      background: #70564a; }

.map-wr {
  background: #70564a;
  padding: 15px 0;
  margin-bottom: 70px; }
  .map-wr .row {
    position: relative; }
  .map-wr .map-logo {
    position: absolute;
    top: 5px; }
    .map-wr .map-logo img {
      width: 192px;
      margin: 0 auto; }
  .map-wr .map {
    width: 100%; }
  .map-wr .map-contact {
    font-size: 18px;
    padding-top: 25px;
    color: #fff; }
    .map-wr .map-contact:last-child {
      text-align: right; }
  .map-wr .map-info {
    display: block;
    font-weight: bold; }

@media (max-width: 1200px) {
  header .header-title {
    font-size: 59px; }
  header .logo {
    font-size: 13px; }

  main .buy-item {
    height: 330px; } }
@media (max-width: 992px) {
  .container {
    width: 100%; }

  header {
    height: auto; }
    header .navigation-wr:before {
      height: 62px; }
    header .navigation li {
      padding: 25px 0 20px; }
    header .navigation a {
      font-size: 17px; }
    header .logo {
      font-size: 10px; }
    header .login li {
      padding: 25px 0 20px; }
    header .login a {
      font-size: 17px; }
    header .form {
      height: auto;
      padding: 25px 0 5px; }
      header .form .search {
        font-size: 28px; }
      header .form select {
        font-size: 13px; }
    header .title-wr {
      height: auto; }
    header .header-title {
      font-size: 46px;
      padding-bottom: 200px; }
    header .header-subtitle {
      font-size: 32px; }

  main .main-title {
    font-size: 32px; }
  main .buy-subtitle {
    font-size: 26px;
    text-align: center; }
  main .buy-text {
    padding: 0 15px 25px;
    text-align: center; }
  main .buy-item {
    height: 280px;
    background-clip: content-box; }
    main .buy-item .img-wrapper {
      height: 110px;
      padding-top: 20px;
      text-align: center; }
      main .buy-item .img-wrapper:before {
        top: 20px;
        left: 35px; }
    main .buy-item:nth-child(2):after {
      content: none; }
    main .buy-item:after {
      right: -100px; }
  main .closing-wr a {
    font-size: 17px; }
  main .closing-wr .more-wr a {
    margin-top: 3px; }
  main .slider-wr .owl-nav {
    top: -68px;
    right: 12%; }
    main .slider-wr .owl-nav .owl-next img {
      margin-top: 1px; }
  main .slider-item .info-wr {
    width: 100%; }
  main .slider-item .name {
    font-size: 19px; }
  main .slider-item .run {
    margin-right: 4px; }
  main .slider-item .price {
    font-size: 32px; }
  main .slider-item .bid-now {
    font-size: 17px; }
  main .reviews-title {
    font-size: 32px;
    margin-bottom: 20px; }
  main .reviews-subtitle {
    font-size: 22px;
    margin-bottom: 20px; }
  main .reviews-text {
    font-size: 14px; }
  main .date {
    font-size: 15px; }
  main .meta-content {
    padding: 20px 0; }
  main .cl-banner {
    margin: 60px 0 20px; }

  footer .footer-title {
    font-size: 16px; }
  footer .footer-info .footer-title {
    font-size: 16px; }
  footer .footer-contacts {
    width: 100%;
    margin-top: 40px;
    text-align: center; }
  footer .footer-nav {
    width: 100%;
    text-align: center; }
  footer .social {
    margin-top: 10px; }
    footer .social li {
      text-align: center; }

  .chat-title {
    text-align: center; }

  .chat-btn {
    font-size: 28px;
    line-height: 24px;
    height: 40px; }

  .faq-btn {
    font-size: 28px;
    line-height: 24px;
    height: 40px; }

  .message-wr .send-btn {
    font-size: 28px;
    line-height: 24px;
    height: 40px; } }
@media (max-width: 767px) {
  header .navigation-wr {
    background: #70564a; }
    header .navigation-wr:before {
      content: none; }
  header .logo-wr {
    position: static; }
    header .logo-wr .logo {
      font-size: 14px;
      color: #fff; }
    header .logo-wr img {
      display: block;
      margin: 0 auto; }
  header .login {
    text-align: center; }
    header .login li {
      padding: 0; }
  header .form .search {
    margin-top: 0;
    height: 35px;
    line-height: 18px;
    box-shadow: none;
    font-size: 24px; }
  header .header-title {
    font-size: 28px;
    padding-bottom: 120px;
    text-align: center; }
  header .header-subtitle {
    font-size: 24px;
    text-align: center; }
  header .title-wr {
    padding: 30px 0; }

  main .buy-item {
    height: 340px;
    margin-top: 0; }
    main .buy-item .img-wrapper {
      padding: 20px 10px 0 0;
      text-align: right; }
      main .buy-item .img-wrapper:before {
        left: 10px; }
    main .buy-item:after {
      right: -80px; }
  main .main-title {
    font-size: 26px;
    padding: 10px 0; }
  main .closing-wr {
    margin: 20px 0; }
    main .closing-wr a {
      line-height: 45px; }
  main .more-wr {
    text-align: right; }
    main .more-wr a {
      line-height: 15px; }
  main .slider-wr .owl-nav {
    top: -40px;
    right: 70px; }
  main .slider-item {
    height: 370px; }
    main .slider-item .info-wr {
      text-align: center; }
  main .reviews-title {
    font-size: 26px; }

  footer {
    text-align: center; }
    footer .about-text {
      margin: 15px 0; }
    footer .repokar-wr {
      margin-top: 20px; }
    footer .footer-nav {
      width: 50%;
      margin: 20px 0; }
    footer .footer-contacts {
      width: 50%;
      margin: 20px 0; }

  .auction-main .slider-item {
    height: 340px;
    margin-bottom: 60px; }

  .top-social {
    text-align: center;
    margin: 10px 0; }
    .top-social a {
      color: #FFF; }

  .chat-title {
    color: #FFF; }

  .faq-title {
    color: #FFF;
    padding: 17px 0 16px; }

  .map-wr .map-contact {
    font-size: 15px; }
  .map-wr .map-logo img {
    width: auto; } }
@media (max-width: 678px) {
  .chat-title {
    padding: 25px 0 31px; } }
@media (max-width: 480px) {
  header .navigation li {
    width: 50%;
    padding: 15px 0; }
  header .login li {
    width: 50%;
    text-align: center; }
    header .login li:first-child {
      margin: auto; }

  main .buy-item {
    height: 280px; }
    main .buy-item:after {
      content: none; }

  .auction-main .slider-item {
    margin-bottom: 40px; }

  .chat-title {
    padding: 17px 0; }

  .map-wr {
    text-align: center; }
    .map-wr .map-logo {
      position: static; }
    .map-wr .map-contact {
      padding: 15px; }
      .map-wr .map-contact:last-child {
        text-align: center;
        padding: 15px 15px 0; } }

/*# sourceMappingURL=main.css.map */
