@import 'reset';
@font-face {
		font-family: 'Raleway';
		font-weight: 600;
		font-style: normal;
		src: url('../fonts/Raleway-SemiBold.eot');
		src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
		font-family: 'Droid Sans';
		font-weight: bold;
		font-style: normal;
		src: url('../fonts/DroidSans-Bold.eot');
		src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSans-Bold.woff') format('woff'), url('../fonts/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
		font-family: 'Patua One';
		font-weight: normal;
		font-style: normal;
		src: url('../fonts/PatuaOne-Regular.eot');
		src: url('../fonts/PatuaOne-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PatuaOne-Regular.woff') format('woff'), url('../fonts/PatuaOne-Regular.ttf') format('truetype');
}

@font-face {
		font-family: 'Droid Sans';
		font-weight: normal;
		font-style: normal;
		src: url('../fonts/DroidSans.eot');
		src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSans.woff') format('woff'), url('../fonts/DroidSans.ttf') format('truetype');
}

$brown: #70564a;
$yellow: #f9ea4f;
body {
		font-family: 'Droid Sans';
		font-size: 16px;
		min-width: 320px;
}

header {
		overflow: hidden;
		height: 660px;
		.navigation-wr {
				position: relative;
				&:before {
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						width: 100%;
						height: 80px;
						content: '';
						background: $brown;
				}
				.container {
						position: relative;
				}
		}
		.logo-wr {
				position: absolute;
				text-align: center;
				img {
						display: inline-block;
				}
		}
		.logo {
				font-size: 17px;
				font-weight: bold;
				position: relative;
				display: block;
				color: $brown;
				&:before {
						position: absolute;
						right: 0;
						bottom: -7px;
						left: 0;
						width: 100%;
						height: 4px;
						content: '';
						background: url(../images/line.png) no-repeat center;
				}
		}
		.navigation {
				font-size: 0;
				li {
						line-height: 1;
						display: inline-block;
						width: 25%;
						padding: 35px 0 25px;
						text-align: center;
				}
				a {
						font-size: 21px;
						font-weight: bold;
						text-transform: uppercase;
						color: #fff;
						@include transition();
						&.active,
						&:hover {
								color: $yellow;
						}
				}
		}
		.login {
				font-size: 0;
				text-align: right;
				li {
						line-height: 1;
						display: inline-block;
						padding: 35px 0 25px;
						&:first-child {
								margin-right: 25px;
						}
				}
				a {
						font-size: 20px;
						@include transition();
						&:hover {
								color: $yellow;
						}
				}
		}
		.form {
				height: 105px;
				padding: 35px 0;
				select {
						font-family: 'Raleway';
						height: 35px;
						border-radius: 0;
						@include apperance('../images/down-arrow.png',
						#d3cbc7,
						97%);
				}
				.search {
						font-size: 35px;
						font-weight: bold;
						line-height: 27px;
						width: 100%;
						height: 45px;
						margin-top: -5px;
						color: $brown;
						border: 3px solid transparent;
						border-radius: 0;
						background: $yellow;
						box-shadow: 2px 2px 10px -2px #333;
						@include transition();
						&:hover {
								color: $yellow;
								border-color: $yellow;
								background: $brown;
						}
				}
		}
		.title-wr {
				position: relative;
				height: 475px;
				padding: 45px 0 30px;
				&:before {
						position: absolute;
						z-index: -1;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						content: '';
						background-image: url(../images/top-bg.jpg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
				}
		}
		.header-title {
				font-size: 60px;
				font-weight: bold;
				padding-bottom: 300px;
				color: #fff;
		}
		.header-subtitle {
				font-size: 37px;
				color: #fff;
		}
}

main {
		.main-title {
				font-size: 36px;
				font-weight: bold;
				line-height: 1;
				padding: 15px 0;
				text-align: center;
				color: #fff;
				background: #57423a;
		}
		.buy-item {
				position: relative;
				height: 275px;
				margin-top: 15px;
				padding: 30px 15px 10px;
				background: $brown;
				&:after {
						position: absolute;
						top: 85px;
						right: -85px;
						bottom: 0;
						width: 75px;
						height: 135px;
						content: '';
						background: url(../images/right-arrow.png);
						background-repeat: no-repeat;
				}
				.img-wrapper {
						position: relative;
						height: 90px;
						text-align: right;
						&:before {
								font-family: 'Patua One';
								font-size: 128px;
								line-height: 1;
								position: absolute;
								top: 0;
								left: 0;
								margin-top: -20px;
								content: '1';
								color: #917d74;
						}
						img {
								display: inline-block;
						}
				}
				&:nth-child(2) {
						.img-wrapper {
								&:before {
										content: '2';
								}
						}
				}
				&:nth-child(3) {
						.img-wrapper {
								&:before {
										content: '3';
								}
						}
				}
				&:last-child {
						.img-wrapper {
								&:before {
										content: '4';
								}
						}
						&:after {
								content: none;
						}
				}
		}
		.buy-subtitle {
				font-size: 30px;
				margin: 25px 0 10px;
				color: #fff;
		}
		.buy-text {
				font-size: 13px;
				margin: 0;
				color: #fff;
		}
		.closing-wr {
				margin: 65px 0 45px;
				text-align: center;
				a {
						font-size: 21px;
						font-weight: bold;
						color: #70564a;
						@include transition();
						&.active,
						&:hover {
								color: #000;
						}
				}
				.more-wr {
						font-size: 0;
						a {
								display: inline-block;
								margin-top: 5px;
								&:nth-child(2) {
										img {
												margin-top: 2px;
										}
								}
						}
				}
				.more {
						font-size: 15px;
						text-decoration: underline;
				}
		}
		.slider-wr {
				.owl-nav {
						position: absolute;
						top: -72px;
						right: 130px;
						.owl-prev {
								display: inline-block;
								margin-right: 10px;
						}
						.owl-next {
								display: inline-block;
								img {
										margin-top: 2px;
								}
						}
				}
		}
		.slider-item {
				position: relative;
				height: 355px;
				padding: 0 15px;
				.figure {
						position: relative;
						height: 205px;
						background: #eee;
						img {
								width: auto;
								@include overlay();
						}
				}
				.info-wr {
						position: relative;
						width: 270px;
						margin: -35px auto 0;
						padding: 10px 10px 35px;
						background: rgba(230, 230, 230, .9);
				}
				.name {
						font-size: 21px;
						font-weight: bold;
						line-height: 1;
						display: block;
						margin: 0 0 15px;
						text-align: center;
						color: $brown;
						@include continue();
				}
				.run {
						font-size: 14px;
						display: inline-block;
						margin-right: 55px;
						color: $brown;
				}
				.time {
						font-size: 14px;
						display: inline-block;
						color: $brown;
				}
				.price {
						font-size: 35px;
						font-weight: bold;
						line-height: 1;
						display: block;
						padding: 15px 0 10px;
						text-align: center;
						color: #d4a83b;
				}
				.bid-now {
						font-size: 18px;
						font-weight: bold;
						position: absolute;
						right: 0;
						bottom: -10px;
						left: 0;
						width: 115px;
						height: 45px;
						margin: 0 auto;
						text-transform: uppercase;
						color: $yellow;
						border: 3px solid transparent;
						border-radius: 0;
						background: $brown;
						box-shadow: 0 0 15px 0 #000;
						@include transition();
						&:hover {
								color: $brown;
								border-color: $brown;
								background: $yellow;
								box-shadow: none;
						}
				}
		}
		.cl-banner {
				margin: 80px 0 35px;
				display: block;
				img {
						margin: 0 auto;
				}
		}
		.reviews-title {
				font-size: 35px;
				font-weight: bold;
				margin-bottom: 25px;
				padding-left: 15px;
				color: $brown;
		}
		.review {
				margin-bottom: 20px;
				padding: 15px;
				color: #fff;
				background: $brown;
				&:before {
						display: table;
						content: '';
				}
				&:after {
						display: table;
						clear: both;
						content: '';
				}
				&:last-child {
						margin-bottom: 0;
				}
		}
		.reviews-subtitle {
				font-size: 25px;
				font-weight: bold;
				margin-bottom: 25px;
		}
		.reviews-text {
				font-size: 15px;
		}
		.stars {
				font-size: 20px;
				float: left;
				color: $yellow;
		}
		.date {
				font-size: 17px;
				float: right;
		}
		.meta-content {
				font-size: 15px;
				padding: 30px 0;
				text-align: center;
				color: $brown;
		}
}

footer {
		padding: 25px 0 0;
		background: $brown;
		.footer-title {
				font-size: 17px;
				font-weight: bold;
				display: inline-block;
				color: $yellow;
		}
		.about-text {
				font-size: 13px;
				margin: 18px 0 0;
				color: #fff;
		}
		.form-wr {
				margin: 20px 0 0;
				input {
						height: 30px;
						text-align: center;
						border: none;
						border-radius: 0;
						@include placeholder(#000);
				}
				.subscribe {
						font-size: 18px;
						font-weight: bold;
						line-height: 14px;
						height: 30px;
						color: $brown;
						border: 3px solid transparent;
						border-radius: 0;
						background: $yellow;
						@include transition();
						&:hover {
								color: $yellow;
								border-color: $yellow;
								background: $brown;
						}
				}
		}
		.repokar-wr {
				font-size: 12px;
				margin-top: 55px;
				text-align: center;
				color: #fff;
				.repokar {
						display: inline-block;
				}
				img {
						margin: 0 auto;
				}
		}
		.footer-info {
				font-size: 0;
				text-align: right;
				.footer-title {
						font-size: 17px;
				}
		}
		.footer-nav {
				display: inline-block;
				width: 50%;
				ul {
						margin-top: 20px;
				}
				a {
						font-size: 17px;
						font-weight: bold;
						color: #fff;
						@include transition();
						&.active,
						&:hover {
								color: $yellow;
						}
				}
				li {
						line-height: 1;
						margin-bottom: 20px;
						&:last-child {
								margin-bottom: 0;
						}
				}
		}
		.footer-contacts {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				ul {
						margin-top: 20px;
				}
				li {
						font-size: 13px;
						margin-bottom: 10px;
						color: #fff;
						&:last-child {
								margin-bottom: 0;
						}
				}
		}
		.social {
				margin-top: 45px;
				li {
						display: inline-block;
						width: 16.6%;
				}
				a {
						font-size: 25px;
						@include transition();
						&:hover {
								color: $yellow;
						}
				}
		}
		.copy {
				font-size: 13px;
				margin-top: 20px;
				padding: 10px;
				text-align: center;
				color: #fff;
				background: #795548;
		}
}

.auction-header {
		.title-wr {
				&:before {
						background-image: url(../images/top-bg-auction.jpg);
				}
		}
}

.auction-main {
		.slider-item {
				margin-bottom: 80px;
		}
		.cl-banner {
				margin: 40px 0 35px;
		}
}

.pagination-wr {
		text-align: center;
		.pagin {
				display: inline-block;
				font-size: 0;
				li {
						margin: 0 3px;
						display: inline-block;
						&:first-child {
								margin-right: 25px;
								a {
										display: inline-block;
										&:before {
												content: "";
												background-image: url(../images/arrow2.png);
												display: block;
												background-repeat: no-repeat;
												background-position: center;
												width: 12px;
												bottom: 0;
												height: 19px;
												@include transition;
										}
										&:hover {
												&:before {
														background-image: url("../images/arrow2-hov.png");
												}
										}
								}
						}
						&:last-child {
								margin-left: 25px;
								a {
										display: inline-block;
										&:after {
												content: "";
												background-image: url(../images/arrow.png);
												display: block;
												background-repeat: no-repeat;
												background-position: center;
												width: 12px;
												bottom: 0;
												height: 19px;
												@include transition;
										}
										&:hover {
												&:after {
														background-image: url("../images/arrow-hov.png");
												}
										}
								}
						}
				}
				a {
						font-size: 30px;
						text-shadow: #70564a 1px 1px 0, #70564a -1px -1px 0, #70564a -1px 1px 0, #70564a 1px -1px 0;
						@include transition();
						&.active,
						&:hover {
								color: $brown;
						}
				}
		}
}

.contact-header {
		.title-wr {
				&:before {
						background-image: url(../images/top-bg-contact.jpg);
				}
		}
		.header-title {
				padding-bottom: 25px;
		}
}

.contact-main {
		.main-title {
				margin-bottom: 20px;
		}
}

.chat-wr,
.faq-wr {
		margin-bottom: 15px;
}

.chat-title {
		font-size: 15px;
		color: $brown;
		padding: 17px 0;
}

.chat-btn {
		font-size: 30px;
		font-weight: bold;
		line-height: 27px;
		width: 100%;
		height: 45px;
		color: $brown;
		border: 3px solid transparent;
		border-radius: 0;
		background: $yellow;
		box-shadow: 2px 2px 10px -2px #333;
		@include transition();
		&:hover {
				color: $yellow;
				border-color: $yellow;
				background: $brown;
		}
}

.top-social {
		margin-top: 45px;
		font-size: 0;
		li {
				display: inline-block;
				width: 16.6%;
		}
		a {
				font-size: 18px;
				@include transition();
				color: $brown;
				&:hover {
						color: $yellow;
				}
		}
}

.faq-title {
		font-size: 16px;
		color: $brown;
		font-weight: bold;
		text-align: center;
		padding: 5px 0;
}

.faq-btn {
		font-size: 35px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 27px;
		width: 100%;
		height: 45px;
		color: $brown;
		border: 3px solid transparent;
		border-radius: 0;
		background: $yellow;
		box-shadow: 2px 2px 10px -2px #333;
		@include transition();
		&:hover {
				color: $yellow;
				border-color: $yellow;
				background: $brown;
		}
}

.message-wr {
		padding: 0 0 30px;
		input,
		textarea {
				@include placeholder($brown);
				font-size: 15px;
				font-weight: bold;
				border-radius: 0;
		}
		textarea {
				resize: none;
				height: 160px;
				padding-top: 20px;
		}
		.captcha-wr {
				font-size: 0;
				text-align: center;
				input {
						font-size: 15px;
						display: inline-block;
						width: 40%;
						vertical-align: top;
						height: 38px;
				}
				.captcha {
						display: inline-block;
						width: 40%;
						vertical-align: middle;
						height: 38px;
						text-align: right;
						img {
								height: 100%;
								display: inline-block;
						}
				}
				.refresh {
						color: $brown;
						font-size: 20px;
						display: inline-block;
						width: 10%;
						margin: 0 5%;
						vertical-align: middle;
				}
		}
		.send-btn {
				font-size: 35px;
				font-weight: bold;
				line-height: 27px;
				width: 100%;
				height: 45px;
				color: $brown;
				border: 3px solid transparent;
				border-radius: 0;
				background: $yellow;
				box-shadow: 2px 2px 10px -2px #333;
				@include transition();
				&:hover {
						color: $yellow;
						border-color: $yellow;
						background: $brown;
				}
		}
}

.map-wr {
		background: $brown;
		padding: 15px 0;
		margin-bottom: 70px;
		.row {
				position: relative;
		}
		.map-logo {
				position: absolute;
				top: 5px;
				img {
						width: 192px;
						margin: 0 auto;
				}
		}
		.map {
				width: 100%;
		}
		.map-contact {
				font-size: 18px;
				padding-top: 25px;
				color: #fff;
				&:last-child {
						text-align: right;
				}
		}
		.map-info {
				display: block;
				font-weight: bold;
		}
}

@media (max-width: 1200px) {
		header {
				.header-title {
						font-size: 59px;
				}
				.logo {
						font-size: 13px;
				}
		}
		main {
				.buy-item {
						height: 330px;
				}
		}
}

@media (max-width: 992px) {
		.container {
				width: 100%;
		}
		header {
				height: auto;
				.navigation-wr {
						&:before {
								height: 62px;
						}
				}
				.navigation {
						li {
								padding: 25px 0 20px;
						}
						a {
								font-size: 17px;
						}
				}
				.logo {
						font-size: 10px;
				}
				.login {
						li {
								padding: 25px 0 20px;
						}
						a {
								font-size: 17px;
						}
				}
				.form {
						height: auto;
						padding: 25px 0 5px;
						.search {
								font-size: 28px;
						}
						select {
								font-size: 13px;
						}
				}
				.title-wr {
						height: auto;
				}
				.header-title {
						font-size: 46px;
						padding-bottom: 200px;
				}
				.header-subtitle {
						font-size: 32px;
				}
		}
		main {
				.main-title {
						font-size: 32px;
				}
				.buy-subtitle {
						font-size: 26px;
						text-align: center;
				}
				.buy-text {
						padding: 0 15px 25px;
						text-align: center;
				}
				.buy-item {
						height: 280px;
						background-clip: content-box;
						.img-wrapper {
								height: 110px;
								padding-top: 20px;
								text-align: center;
								&:before {
										top: 20px;
										left: 35px;
								}
						}
						&:nth-child(2) {
								&:after {
										content: none;
								}
						}
						&:after {
								right: -100px;
						}
				}
				.closing-wr {
						a {
								font-size: 17px;
						}
						.more-wr {
								a {
										margin-top: 3px;
								}
						}
				}
				.slider-wr {
						.owl-nav {
								top: -68px;
								right: 12%;
								.owl-next {
										img {
												margin-top: 1px;
										}
								}
						}
				}
				.slider-item {
						.info-wr {
								width: 100%;
						}
						.name {
								font-size: 19px;
						}
						.run {
								margin-right: 4px;
						}
						.price {
								font-size: 32px;
						}
						.bid-now {
								font-size: 17px;
						}
				}
				.reviews-title {
						font-size: 32px;
						margin-bottom: 20px;
				}
				.reviews-subtitle {
						font-size: 22px;
						margin-bottom: 20px;
				}
				.reviews-text {
						font-size: 14px;
				}
				.date {
						font-size: 15px;
				}
				.meta-content {
						padding: 20px 0;
				}
				.cl-banner {
						margin: 60px 0 20px;
				}
		}
		footer {
				.footer-title {
						font-size: 16px;
				}
				.footer-info {
						.footer-title {
								font-size: 16px;
						}
				}
				.footer-contacts {
						width: 100%;
						margin-top: 40px;
						text-align: center;
				}
				.footer-nav {
						width: 100%;
						text-align: center;
				}
				.social {
						margin-top: 10px;
						li {
								text-align: center;
						}
				}
		}
		.chat-title {
				text-align: center;
		}
		.chat-btn {
				font-size: 28px;
				line-height: 24px;
				height: 40px;
		}
		.faq-btn {
				font-size: 28px;
				line-height: 24px;
				height: 40px;
		}
		.message-wr {
				.send-btn {
						font-size: 28px;
						line-height: 24px;
						height: 40px;
				}
		}
}

@media (max-width: 767px) {
		header {
				.navigation-wr {
						background: $brown;
						&:before {
								content: none;
						}
				}
				.logo-wr {
						position: static;
						.logo {
								font-size: 14px;
								color: #fff;
						}
						img {
								display: block;
								margin: 0 auto;
						}
				}
				.login {
						text-align: center;
						li {
								padding: 0;
						}
				}
				.form {
						.search {
								margin-top: 0;
								height: 35px;
								line-height: 18px;
								box-shadow: none;
								font-size: 24px;
						}
				}
				.header-title {
						font-size: 28px;
						padding-bottom: 120px;
						text-align: center;
				}
				.header-subtitle {
						font-size: 24px;
						text-align: center;
				}
				.title-wr {
						padding: 30px 0;
				}
		}
		main {
				.buy-item {
						height: 340px;
						margin-top: 0;
						.img-wrapper {
								padding: 20px 10px 0 0;
								text-align: right;
								&:before {
										left: 10px;
								}
						}
						&:after {
								right: -80px;
						}
				}
				.main-title {
						font-size: 26px;
						padding: 10px 0;
				}
				.closing-wr {
						margin: 20px 0;
						a {
								line-height: 45px;
						}
				}
				.more-wr {
						text-align: right;
						a {
								line-height: 15px;
						}
				}
				.slider-wr {
						.owl-nav {
								top: -40px;
								right: 70px;
						}
				}
				.slider-item {
						height: 370px;
						.info-wr {
								text-align: center;
						}
				}
				.reviews-title {
						font-size: 26px;
				}
		}
		footer {
				text-align: center;
				.about-text {
						margin: 15px 0;
				}
				.repokar-wr {
						margin-top: 20px;
				}
				.footer-nav {
						width: 50%;
						margin: 20px 0;
				}
				.footer-contacts {
						width: 50%;
						margin: 20px 0;
				}
		}
		.auction-main {
				.slider-item {
						height: 340px;
						margin-bottom: 60px;
				}
		}
		.top-social {
				text-align: center;
				margin: 10px 0;
				a {
						color: #FFF;
				}
		}
		.chat-title {
				color: #FFF;
		}
		.faq-title {
				color: #FFF;
				padding: 17px 0 16px;
		}
		.map-wr {
				.map-contact {
						font-size: 15px;
				}
				.map-logo {
						img {
								width: auto;
						}
				}
		}
}

@media (max-width: 678px) {
		.chat-title {
				padding: 25px 0 31px;
		}
}

@media (max-width: 480px) {
		header {
				.navigation {
						li {
								width: 50%;
								padding: 15px 0;
						}
				}
				.login {
						li {
								width: 50%;
								text-align: center;
								&:first-child {
										margin: auto;
								}
						}
				}
		}
		main {
				.buy-item {
						height: 280px;
						&:after {
								content: none;
						}
				}
		}
		.auction-main {
				.slider-item {
						margin-bottom: 40px;
				}
		}
		.chat-title {
				padding: 17px 0;
		}
		.map-wr {
				text-align: center;
				.map-logo {
						position: static;
				}
				.map-contact {
						padding: 15px;
						&:last-child {
								text-align: center;
								padding: 15px 15px 0;
						}
				}
		}
}
