a,
a:hover,
a:focus {
  text-decoration: none;
  color: #FFF; }

a:focus {
  outline: none; }

a[href^='mailto:']:hover {
  text-decoration: underline; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=reset.css.map */
