a,
a:hover,
a:focus {
		text-decoration: none;
		color: #FFF;
}

a:focus {
		outline: none;
}

a[href^='mailto:']:hover {
		text-decoration: underline;
}

ul,
ol {
		margin: 0;
		padding: 0;
		list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
		margin: 0;
		padding: 0;
}

@mixin placeholder ($color) {
		&::-webkit-input-placeholder {
				color: $color;
		}
		&::-moz-placeholder {
				color: $color;
		}
		&::-ms-input-placeholder {
				color: $color;
		}
}

@mixin overlay () {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
}

@mixin continue () {
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
		text-overflow: ellipsis;
}

@mixin button ($height) {
		display: block;
		height: $height;
		line-height: $height;
		text-align: center;
		text-transform: uppercase;
}

@mixin transition () {
		transition: all ease-in-out .3s;
}

@mixin apperance ($img, $bg, $position) {
		background: url($img) no-repeat right $bg;
		background-position-x: $position;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		text-indent: 1px;
		text-overflow: '';
		&::-ms-expand {
				display: none;
		}
}

@mixin after-nav ($color, $fs, $margin) {
		&:after:not(last-child) {
				content: '/';
				font-size: $fs;
				margin: 0 $margin;
				color: $color;
		}
}
